{% extends 'base.html' %}

{% block content %}
    {% if object %}
        <h1>Edit Bill</h1>
    {% else %}
        <h1>Add Bill</h1>
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit!" class="btn-large pink lighten-3">
    </form>
  
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let dateEl = document.getElementById('id_dueDate');
            M.Datepicker.init(dateEl, {
                format: 'yyyy-mm-dd',
                defaultDate: new Date(),
                setDefaultDate: true,
                autoClose: true
            });
            let selectEl = document.getElementById('id_category');
            M.FormSelect.init(selectEl);
        });
    </script>
{% endblock %}