{% extends 'base.html' %}
{% block content %}
<h3>All Bills</h3>
<a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Sort By</a>
<ul id='dropdown1' class='dropdown-content'>
    <li><a href="{% url 'bills' %}?ordering=name">Name</a></li>
    <li><a href="{% url 'bills' %}?ordering=-amount">Amount (Desc.)</a></li>
    <li><a href="{% url 'bills' %}?ordering=amount">Amount (Asc.)</a></li>
    <li><a href="{% url 'bills' %}?ordering=category">Category</a></li>
</ul>
<table class="striped">
    <thead>
        <tr>
          <th>Category</th>
          <th>Name</th>
          <th>Due Date</th>
      </tr>
    </thead>

    <tbody>
    {% for bill in object_list %}
      <tr>
        <td>{{ bill.get_category_display }}</td>
        <td><a href="{% url 'bill_detail' bill.id %}">{{ bill.name }}</a></td>
        <td>{{ bill.dueDate }}</td>
        <td class="right-align"> 
            <a href="{% url 'bills_update' bill.id %}" class="waves-effect waves-light btn-small btn-floating"><i class="tiny material-icons left">create</i>Edit</a>
            <a href="{% url 'bills_delete' bill.id %}" class="waves-effect waves-light btn-small btn-floating"><i class="tiny material-icons left">delete</i>Delete</a></td>
      </tr>
    {% empty %}
    <tr>
        <td>No bills yet.</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
<a href="{% url 'bills_create' %}" class="waves-effect waves-light btn">Add Bill</a>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.dropdown-trigger');
        var instances = M.Dropdown.init(elems);
      });
</script>
{% endblock %}