{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col s12 l6">
        <div class="card grey lighten-5 z-depth-0">
            <div class='card-image card-header' id="category-color" data-category="{{ bill.get_category_display }}">
                <h2>{{ bill.name }}</h2>
                <a href="{% url 'bills_update' bill.id %}" class="btn-floating halfway-fab waves-effect waves-light red tooltipped" data-position="bottom" data-tooltip="Edit {{ bill.name }}"><i class=" tiny material-icons left">create</i>Edit</a>
            </div>
            <div class="card-content">
                <h2 class="details-amount">${{ bill.amount }}</h2>
                <p>{{ bill.description }}</p>
                <h3><small>Due:</small><br> {{ bill.dueDate }}</3p>
            </div>
            <div class="card-action">
                <a href="{% url 'bills_delete' bill.id %}" class="grey-text">Delete</a>
            </div>
        </div>
    </div>
    <div class="col s12 l6">
        <div class="row valign-wrapper">
            <div class="col s9">
                <h5>Other {{ bill.get_category_display }} bills:</h5>
            </div>
            <div class="col s3">
                <div class="action-panel right-align">
                    <a href="{% url 'bills_create' %}" class="btn-floating btn-small red tooltipped" data-position="bottom" data-beloworigin="true" data-tooltip="Add New Bill"><i class="tiny material-icons">add</i></a>
                    <a href="{% url 'bills' %}" class="btn-floating btn-small blue tooltipped" data-position="bottom" data-beloworigin="true" data-tooltip="View All Bills"><i class="tiny material-icons">view_headline</i></a>
                </div>
            </div>
        </div>
        {% if same_category.count %}
        <table class="striped bill-table">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th class="right-align">Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for category_bill in same_category|slice:":5" %}
                <tr>
                    <td id="category-color" data-category="{{ object.get_category_display }}"></td>
                    <td>{{ category_bill.name }}</td>
                    <td class="right-align">{{ category_bill.amount }}</td>
                    <td class="center-align">
                        <a href="{% url 'bill_detail' category_bill.id %}" class="btn-small btn-floating tooltipped grey lighten-3 btn-flat" data-position="bottom" data-tooltip="{{ category_bill.name }} Details"><i class="tiny material-icons black-text">chevron_right</i>Details</a>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No other bills of this category</p>
        {% endif %}
    </div>
</div>
{% endblock %}

