{% extends 'base.html' %}
{% load date_extras %}
{% block content %}

<div class="row valign-wrapper">
    <div class="col s6">
        <h3>All Bills</h3>
    </div>
    <div class="col s6">
        <div class="action-panel right-align">
            <a class='dropdown-trigger btn-floating btn-medium grey tooltipped' data-position="bottom" data-tooltip="Sort" href='#' data-target='dropdown1'> <i class="tiny material-icons">sort_by_alpha</i></a>
            <a href="{% url 'bills_create' %}" class="btn-floating btn-medium red tooltipped" data-position="bottom" data-beloworigin="true" data-tooltip="Add New Bill"><i class="tiny material-icons">add</i></a>
        </div>
        <ul id='dropdown1' class='dropdown-content' >
            <li><a href="{% url 'bills' %}?ordering=name">Name</a></li>
            <li><a href="{% url 'bills' %}?ordering=-amount">Amount<i class="tiny material-icons">keyboard_arrow_down</i></a></li>
            <li><a href="{% url 'bills' %}?ordering=amount">Amount<i class="tiny material-icons">keyboard_arrow_up</i></a></li>
            <li><a href="{% url 'bills' %}?ordering=category">Category</a></li>
            <li><a href="{% url 'bills' %}?ordering=-dueDate">Due Date<i class="tiny material-icons">keyboard_arrow_down</i></a></li>
            <li><a href="{% url 'bills' %}?ordering=dueDate">Due Date<i class="tiny material-icons">keyboard_arrow_up</i></a></li>
        </ul>
    </div>
</div>
<div>
    {% if object_list.count %}
    <table class="striped bill-table">
        <tbody>
            {% for bill in object_list %}
            <tr class="bill-row">
                <td id="category-color" data-category="{{ bill.get_category_display }}"></td>
                <td class="center-align"><h6>{{ bill.dueDate|daysuntil }}</h6></td>
                <td class="left-align"><h4>{{ bill.name }}&nbsp;&nbsp;{{ bill.dueDate|daysbadge }}</h4>
                    <p>{{ bill.description }}<a href="{% url 'mark_paid' bill.id %}">Mark as Paid</a></p>
                </td>
                <td class="right-align"><h4>${{ bill.amount }}</h4></td>
                <td class="center-align">
                    <a href="{% url 'bill_detail' bill.id %}" class="btn-small btn-floating tooltipped grey lighten-3 btn-flat" data-position="bottom" data-tooltip="{{ bill.name }} Details"><i class="tiny material-icons black-text">chevron_right</i>Details</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No bills yet.</p>
    <a href="{% url 'bills_create' %}" class="waves-effect waves-light btn">Add Bill</a>
    {% endif %}
    <a href="{% url 'paid_list' %}">See Paid Bills</a>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.dropdown-trigger');
        var instances = M.Dropdown.init(elems);
    });
</script>
{% endblock %}