{% extends 'base.html' %}
{% block content %}
<h3>Categories</h3>
<table class="striped">
    <thead>
      <tr>
          <th>Category</th>
          <th class="right-align">Amount</th>
      </tr>
    </thead>
    <tbody>
    {% for key,val in categories_total.items%}
    <tr id="category-row">
        <td id="category-name">{{ key }}</td>
        <td class="right-align" >{{ val }}</td>
      </tr>
    {% empty %}
    <tr>
        <td>No bills yet.</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}