{% extends 'base.html' %}
{% load date_extras %}
{% load humanize %}
{% block content %}

<div class="row valign-wrapper">
    <div class="col s6">
        <h3>Paid Bills</h3>
    </div>
    <div class="col s6">
        <div class="action-panel right-align">
            <a href="{% url 'bills' %}" class="btn-floating btn-small blue tooltipped" data-position="bottom" data-beloworigin="true" data-tooltip="View All Bills"><i class="tiny material-icons">view_headline</i></a>
        </div>
        <ul id='dropdown1' class='dropdown-content' >
            <li><a href="{% url 'bills' %}?ordering=name">Name</a></li>
            <li><a href="{% url 'bills' %}?ordering=-amount">Amount<i class="tiny material-icons">keyboard_arrow_down</i></a></li>
            <li><a href="{% url 'bills' %}?ordering=amount">Amount<i class="tiny material-icons">keyboard_arrow_up</i></a></li>
            <li><a href="{% url 'bills' %}?ordering=category">Category</a></li>
            <li><a href="{% url 'bills' %}?ordering=-dueDate">Due Date<i class="tiny material-icons">keyboard_arrow_down</i></a></li>
            <li><a href="{% url 'bills' %}?ordering=dueDate">Due Date<i class="tiny material-icons">keyboard_arrow_up</i></a></li>
        </ul>
    </div>
    </div>
    <div>
    {% if paid_bills.count %}
    <table class="striped bill-table">
        <tbody>
            {% for bill in paid_bills %}
            <tr class="bill-row">
                <td id="category-color" data-category="{{ bill.get_category_display }}"></td>
                <td class="center-align"><h6><small>Due on:</small><br>{{ bill.dueDate }}</h6></td>
                <td class="left-align"><h4>{{ bill.name }}</h4>
                    <p>{{ bill.description }}</p>
                </td>
                <td class="right-align"><h4>${{ bill.amount|intcomma }}&nbsp;</h4></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No bills yet.</p>
    <a href="{% url 'bills_create' %}" class="waves-effect waves-light btn-large pink lighten-3">Add Bill</a>
    {% endif %}
</div>
{% endblock %}