{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Pygg</title>
</head>

<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <ul>
                    <li><a href="{% url 'home' %}">PGGY</a></li>
                </ul>
                {% if user.is_authenticated %}
                <ul class="hide-on-small-only">
                    <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                    <li><a href="{% url 'bills' %}">View Bills</a></li>
                    <li><a href="#">View By Category</a></li>
                </ul>
                <ul class="right">
                    <li><a href="{% url 'logout' %}">Log Out</a></li>
                </ul>
            </div>
        </nav>
            {% else %}
                <ul class="right">
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                    <li><a href="{% url 'login' %}">Log In</a></li>
                </ul>
            </div>
        </nav>
            {% endif %}
    </header>
    <main>
        <div class="container">
        {% block content %}
        {% endblock %}
        </div>
    </main>
</body>
</html>