{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col s12 l6">
        chart here
    </div>
    <div class="col s12 l6">
        <div>
            <h4>Upcoming Bills</h4>
            <table class="striped">
                <thead>
                  <tr>
                      <th>Category</th>
                      <th>Name</th>
                      <th>Due Date</th>
                  </tr>
                </thead>
        
                <tbody>
                {% for bill in bills|slice:":5"%}
                  <tr>
                    <td>{{ bill.get_category_display }}</td>
                    <td>{{ bill.name }}</td>
                    <td>{{ bill.dueDate }}</td>
                    <td>{{ bill.amount }}</td>
                    <td class="right-align"> 
                        <a href="{% url 'bills_update' bill.id %}" class="waves-effect waves-light btn-small btn-floating"><i class="tiny material-icons left">create</i>Edit</a>
                        <a href="{% url 'bills_delete' bill.id %}" class="waves-effect waves-light btn-small btn-floating"><i class="tiny material-icons left">delete</i>Delete</a></td>
                  </tr>
                {% empty %}
                <tr>
                    <td>No bills yet.</td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
              <a href="{% url 'bills' %}"" class=" waves-effect waves-light btn">View All Bills</a>
        </div>
        <div>
            <h4>Categories</h4>
            Total Amount: {{ total_bills.amount__sum }}
            <hr>
            {% for category in categories|slice:":5"%}
            <p>{{category.get_category_display }}: {{ category_amount }}</p>
            {% endfor %}

        </div>
</div>


{% endblock %}