{% extends 'base.html' %}
{% load motivators %}
{% block content %}
<div class="row">
    <div class="col s12 l6">
        <div class="left-align">
            <h2>{{ user.userinfo.budget|subtract:total_bills.amount__sum }}</h2>
        </div>
        <div class="dashboard-table">
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
    </div>
    <div class="col s12 l6">
        <div>
            <div class="row valign-wrapper">
                <div class="col s9 dashboard-table">
                    <h4>Upcoming Bills</h4>
                </div>
                <div class="col s3">
                    <div class="action-panel right-align">
                        <a href="{% url 'bills_create' %}" class="btn-floating btn-small red tooltipped" data-position="bottom" data-beloworigin="true" data-tooltip="Add New Bill"><i class="tiny material-icons">add</i></a>
                        <a href="{% url 'bills' %}" class="btn-floating btn-small blue tooltipped" data-position="bottom" data-beloworigin="true" data-tooltip="View All Bills"><i class="tiny material-icons">view_headline</i></a>
                    </div>
                </div>
            </div>
            {% if bills.count %}
            <table class="striped bill-table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Due Date</th>
                        <th>Name</th>
                        <th class="right-align">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bill in bills|slice:":5"%}
                    <tr class="bill-row">
                        <td id="category-color" data-category="{{ bill.get_category_display }}"></td>
                        <td>{{ bill.dueDate }}</td>
                        <td>{{ bill.name }}</td>
                        <td class="right-align">{{ bill.amount }}</td>
                        <td class="right-align">
                            <a href="{% url 'bill_detail' bill.id %}" class="btn-small btn-floating tooltipped grey lighten-3 btn-flat" data-position="bottom" data-tooltip="{{ bill.name }} Details"><i class="tiny material-icons black-text">chevron_right</i>Details</a>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>No bills yet.</p>
            {% endif %}
        </div>
        <div>
            <div class="row valign-wrapper dashboard-table">
                <div class="col s9">
                    <h4>Categories</h4>
                </div>
                <div class="col s3">
                    <div class="action-panel right-align">
                        <a href="{% url 'categories' %}" class="btn-floating btn-small blue tooltipped" data-position="bottom" data-beloworigin="true" data-tooltip="View By Category"><i class="tiny material-icons">view_headline</i></a>
                    </div>
                </div>
            </div>
            {% if categories_total.items %}
            <table class="striped">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th class="right-align">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key,val in categories_total.items|slice:":5"%}
                    <tr id="category-row">
                        <td id="category-name" class="white-text">{{ key }}</td>
                        <td class="right-align white-text">{{ val }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>No categories yet.</p>
            {% endif %}
        </div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    let balance = {{ user.userinfo.budget }} - {{ total_bills.amount__sum }};
    let colors = {
        'Miscellaneous': 'lightsalmon',
        'Mortgage': 'hotpink',
        'Rent': 'orangered',
        'Entertainment': 'darkkhaki',
        'Utilities': 'mediumpurple',
        'Insurance': 'mediumaquamarine',
        'Credit Cards': 'steelblue',
        'Loans': 'wheat',
    }

    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: [{% for key,val in categories_total.items|slice:":5" %}'{{ key }}',{% endfor %} 'Balance'],
            datasets: [{
                label: '$',
                data: [{% for key,val in categories_total.items|slice:":5" %}'{{ val }}',{% endfor %} balance],
                backgroundColor: [{% for key,val in categories_total.items|slice:":5" %}colors['{{ key }}'],{% endfor %}],
                borderWidth: 0
            }],
        },
        options: {
            tooltips: {
                callbacks: {
                    label: function(tooltipItems, data) {
                        return data['labels'][tooltipItems['index']] + ' $' + data['datasets'][0]['data'][tooltipItems['index']];
                    }
                },
                backgroundColor: '#000',
                bodyFontColor: '#FFF',
                bodyFontSize: 20,
                displayColors: false,
            },
            legend: {
                position: 'bottom',
            },
            cutoutPercentage: 30,
            title: {
                display: false,
                text: "Bills by Category",
            },
            scales: {
                xAxes: [{
                    ticks: {display: false},
                    gridLines: {
                        display: false,
                        drawBorder: false,
                    }
                }],
                yAxes: [{
                    ticks: {display: false},
                    gridLines: {
                        display: false,
                        drawBorder: false,
                    }
                }]
            }
        }
    });
});
</script>
{% endblock %}

