* {
    font-family: 'Quicksand', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
    margin: 40px 0;
  }

h1, h2, h3, h4 {
    font-weight: 700 !important;
}

tr.bill-row td:nth-child(2) {
    width: 175px !important;
}

tr.bill-row td:last-child {
    width: 125px !important;
}

#user-panel {
    min-height: 13rem;
}

.dashboard-table {
    margin-top: 40px;
}

.divider {
    margin: 50px 0;
}

.feat-img {
    width: 100%;
}

.instructions {
    padding: 30px 0;
    margin-top: 60px !important;
    margin-bottom: 60px !important;
}

.feat {
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.footer-logo {
    width: 300px;
}

.logo {
    width: 200px;
    background: url('../images/pygg_logo-h.svg') no-repeat;
    background-position: center;
    background-size: 85%;
}

.badge {
    border-radius: 10px !important;
    transform: translateY(-6px);
    padding: 0 15px !important;
}


.slider .indicators {
    display: none;
}


.caption {
    max-width: 600px !important;
    left: 0 !important;
    transform: translate(50px) !important;
}

td#category-color {
    width: 8px;
    background-color: lightsalmon;
    padding: 0;
}

div.collapsible-body {
    padding: 0 !important;
}

.collapsible-header, .collapsible-body, .collapsible, ul.collapsible>li {
  box-shadow: none !important;
}


.card-header {
    padding: 10px 24px;
}

.cat-row {
    width: 100% !important;
    height: 100% !important;
    margin-bottom: 0 !important;
}

h2.details-amount {
    margin: 0 0 15px 0 !important;
}

@media (max-width:992px) {
    #user-panel, #user-panel-budget {
        text-align: center;
    }
}

@media (max-width:728px) {

    .feat {
        height: 100%;
    }
    

    .slides {
        height: 400px !important;
    }

}