#user-panel {
    min-height: 13rem;
}

.logo {
    width: 200px;
    background: url('../images/pygg_logo-h.svg') no-repeat;
    background-position: center;
    background-size: 85%;
}

.test {
    border: 1px solid red;
}

@media (max-width:992px) {
    #user-panel, #user-panel-budget {
        text-align: center;
    }
}

@media (max-width:728px) {

}