* {
    font-family: 'Quicksand', sans-serif;
}

h1, h2, h3, h4 {
    font-weight: 700 !important;
}

main {
    margin-top: 40px;
}

tr.bill-row td:nth-child(2) {
    width: 175px !important;
}

tr.bill-row td:last-child {
    width: 75px !important;
}

#user-panel {
    min-height: 13rem;
}

.logo {
    width: 200px;
    background: url('../images/pygg_logo-h.svg') no-repeat;
    background-position: center;
    background-size: 85%;
}

.badge {
    border-radius: 10px !important;
    transform: translateY(-6px);
    padding: 0 15px !important;
}

td#category-color {
    width: 8px;
    background-color: lightsalmon;
    padding: 0;
}

.card-header {
    padding: 10px 24px;
}

h2.details-amount {
    margin: 0 0 15px 0 !important;
}

@media (max-width:992px) {
    #user-panel, #user-panel-budget {
        text-align: center;
    }
}

@media (max-width:728px) {

}